<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .Project }}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
</head>

<body>

<div id="app">
    <p>Dear {{ .FirstName }},</p>

    <p>Your account was fully deleted from our system.</p>

    <p>Thanks for using our services, {{ .Project }} Team</p>

</div>

</body>

</html>
