Password Recovery!

Someone requested a password reset for your account.
If this was not you, please disregard this email.
If you'd like to continue use the code provided below:

Code: {{ .Code }}
IP Address: {{ .RemoteIP }}
Time: {{ .Time }}

Thanks, {{ .Project }} Team

