<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .Project }}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
</head>

<body>

<div id="app">
    <h4>Registration!</h4>

    <p>Hi {{ .FirstName }},</p>

    <p>Thank you for choosing {{ .Project }} as your anti-hosting provider.</p>

    <p>Your registration is completed, you can start using our services.</p>

    <p>- {{ .Project }} Team</p>

</div>

</body>

</html>
