Hi there,

This notification is on behalf of {{ .Project }} to let you know that your password has been successfully reset from IP address {{ .RemoteIP }}.
If you did not reset your account password, please contact {{ .Project }} Support immediately at {{ .HelpEmail }}.

Thanks, {{ .Project }} Team

